<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Monitoring</title>
</head>
<body>
    <h1>Resource Monitoring</h1>
    <!-- <h2>AWS Resources</h2>
    <ul id="aws-resources"></ul> -->

    <h2>Azure Resources</h2>
    <ul id="azure-resources"></ul>

    <!-- <h2>GCP Resources</h2>
    <ul id="gcp-resources"></ul> -->

    <script>
        async function fetchResources(url, elementId) {
            const response = await fetch(url);
            const data = await response.json();
            const list = document.getElementById(elementId);
            data.forEach(item => {
                const listItem = document.createElement('li');
                listItem.textContent = item;
                list.appendChild(listItem);
            });
        }

        // fetchResources('/aws_resources', 'aws-resources');
        fetchResources('/azure_resources', 'azure-resources');
        // fetchResources('/gcp_resources', 'gcp-resources');
    </script>
</body>
</html>